body {
  background-color: rgb(26, 26, 26);
  height: 90vh;
  width: auto;
  font-family: kode-mono, monospace;
}

.material-icons {
  vertical-align: middle;
}

.navbar {
  background-color: rgb(20, 20, 20);
  height: 12vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
}
.navbar a {
  text-decoration: none;
  color: rgb(205, 205, 205);
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  transition-duration: 0.4s;
  position: relative;
}
.navbar a::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: rgb(205, 205, 205);
  transform-origin: 0.4s;
}
.navbar a:hover::after {
  background: white;
  width: 100%;
  bottom: -2px;
}
.navbar a:hover {
  color: white;
}

.navbar a.active {
  color: orangered;
}
.navbar a.active::after {
  background: orangered;
  width: 100%;
  bottom: -2px;
}

.navbutton-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 40%;
}

.middle-text {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: white;
  font-size: 50px;
  text-align: center;
}

.bellow-middle-text-button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: white;
  opacity: 100%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(26, 26, 26);
  color: rgb(205, 205, 205);
  padding: 10px;
  text-align: center;
  font-size: small;
}
